.collection-page {
    margin: 0 auto;
    overflow-y: scroll;
    height: 100vh;
    width: 60%;
    padding-bottom: 50px;
    background-color: black;
    font-family: var(--main-font);

    

    

    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    



    .user-bookmarks {
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        min-height: 200px;
        height: auto;
        width: 80%;

        .bm-header {
            font-size: 35px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--border-color);
            color: white;
            background-color: black;
        }
    }
}


.card-container {
    margin: 0 auto;
    display: flex;
    height: 200px;
    width: 95%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--nav-bg-color);


    & > img {
        border-radius: 5px;
        height: auto;
        width: 120px;
    }

    .card-details {
        position: relative;
        padding: 0px 10px 10px 10px;

        & > h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        & > p { 
            line-height: 20px;
            font-size: 13px;
            color: rgb(192, 189, 189);
        }

        .sub-footer {
            position: absolute;
            bottom: 10px;
            width: 70%;
            font-size: 13px;
            color: white;

            & > span {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .collection-page {
        overflow-x: hidden;
        width: 100%;
    }


 
}

@media screen and (max-width: 665px) {
    .card-container {
        height: fit-content;
        width: 90%;
        flex-direction: column;
        align-items: center;

        & > img {
            width: 100%;
        }

        .card-details  {
            & > h2 {
                margin-top: 10px;
                text-align: center;
            }
            & > p {
                display: none;
            }

            .sub-footer {
                display: none;
            }
        }
    }

    


}