.home-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    height: 100vh;
    width: 60%;
    overflow-y: scroll;
    color: white;
    background-color: black;
    font-family: var(--main-font);

    &::-webkit-scrollbar {
        display: none;
    }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    

    nav {
        text-align: start;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        padding: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--border-color);
        a {
            margin-right: 25px;
            text-decoration: none;

            font-size: 24px;
            color: white;
        }
    }


    .home-routes {
        position: relative;
        height: auto;
        width: 100%;
        background-color: black;
    }
}

// .season-card {
//     background-color: red;
// }


@media screen and (max-width: 990px) {
    .home-page {
        background-color: red;
    }
}