*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-color: #1E1E1E;
    --text-color: #FFFFFF;
    --sub-text-color: rgb(139, 139, 139);
    --border-color: #807C7C;
    --main-font: 'Montserrat', sans-serif;
    --green-color: #039750;
}

.App {
    display: flex;
}